@using Election.Models.ViewModels

@model VoteViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Vote";
}

<h2>Vote</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success" style="margin-bottom:0px">
            <div class="box-header" style="padding: 40px">
                <div class="row">
                    <div class="col-xs-3 col-xs-offset-1">
                        <strong>Name : </strong>@Model.voter.username
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        <strong>NIC : </strong>@Model.voter.nic
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        <strong>Address : </strong>@Model.voter.address
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        <strong>Province : </strong>@Model.province
                    </div>
                    <div class="col-xs-3 col-xs-offset-1">
                        <strong>District : </strong>@Model.district
                    </div>
                </div>
            </div>
            <div class="box-body" style="padding-top: 50px; border-top: 1px solid #eee">
                <div class="row">
                    <table class="table table-bordered table-striped" id="district-table">
                        <thead>
                            <tr>
                                <th width="30%">Logo</th>
                                <th width="25%">Name</th>
                                <th width="25%">Candidate</th>
                                <th style="width: 20%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.arrPary)
                            {
                                <tr>
                                    <td>
                                        <img src="@item.logo" class="logo-image" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.candidate)
                                    </td>
                                    <td>
                                        <input type="checkbox" onchange="vote('@item.id')">
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>


<script>

    function vote(party) {
        if (!confirm("Are you sure?")) {
            return;
        }
        $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Vote")',
                data: {
                    party: party
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        alert("Thank you for your vote!");
                        document.location.href = "/Account/Logout";
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
    }
</script>