@using Election.Models
@model IEnumerable<UserModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Supervisor";
    List<ElectionCenterModel> listCenters = (List<ElectionCenterModel>)ViewData["electionCenters"];
    List<SelectListItem> arrCenters = new List<SelectListItem>();
    foreach (ElectionCenterModel center in listCenters)
    {
        arrCenters.Add(new SelectListItem(center.name, "" + center.id));
    }


}

<h2>Manage Supervisor</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success" style="margin-bottom:0px">
            <div class="box-header">
                <h3 class="box-title">Create State Employer</h3>
                <form asp-action="Create" method="post">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1">
                                    <label for="election_center">Election Center: </label>
                                    <select id="election_center" name="election_center" asp-items="arrCenters" style="width: 100%" required></select>
                                </div>
                                <div class="col-xs-3 col-xs-offset-1">
                                    <label for="userid">Supervisor ID: </label>
                                    <input id="userid" name="userid" placeholder="Supervisor ID" title="This is used for login" style="width: 100%" required />
                                </div>
                                <div class="col-xs-3 col-xs-offset-1">
                                    <label for="username">Supervisor Name: </label>
                                    <input id="username" name="username" placeholder="Supervisor Name" style="width: 100%" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <button type="submit" class="btn-outline-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-body">
                <h3 class="box-title">State Employer List</h3>
                <table class="table table-bordered table-striped" id="district-table">
                    <thead>
                        <tr>
                            <th width="40%">Election Center</th>
                            <th width="40%">Name</th>
                            <th width="20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            ElectionCenterModel CenterItem = listCenters.Where(d => d.id == item.election_center).First();
                        <tr>
                            <td>
                                @CenterItem.name
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.username)
                            </td>
                            <td>
                                <a href="#" onclick="showUpdateDlg(@item.id, '@item.userid', '@item.username', @item.election_center)">Edit</a> &nbsp;&nbsp;| &nbsp;&nbsp;
                                <a href="#" onclick="Delete(@item.id)">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" id="update-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Update Province</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" method="post">
                    <input id="update_id" name="id" type="hidden" />
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-1">
                                    <label for="update_election_center">Election Center: </label>
                                    <select id="update_election_center" name="election_center" asp-items="arrCenters" style="width: 100%" required></select>
                                </div>
                                <div class="col-xs-3 col-xs-offset-1">
                                    <label for="update_userid">Supervisor ID: </label>
                                    <input id="update_userid" name="userid" placeholder="Supervisor ID" title="This is used for login" style="width: 100%" required />
                                </div>
                                <div class="col-xs-3 col-xs-offset-1">
                                    <label for="update_username">Supervisor Name: </label>
                                    <input id="update_username" name="username" placeholder="Supervisor Name" style="width: 100%" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <button type="submit" class="btn-outline-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>

    $(function () {
        $('#district-table').DataTable();

        var errMsg = "@ViewData["errorMsg"]";
        if (errMsg)
            alert(errMsg);
        updateDistrict();
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }

    function showUpdateDlg(id, userid, username, electionCenterid) {
        $("#update_id").val(id);
        $("#update_userid").val(userid);
        $("#update_username").val(username);
        $("#update_election_center").val(electionCenterid);
        $("#update-modal").modal();
    }

</script>
