@using Election.Models.ViewModels
@using Election.Models

@model IEnumerable<ElectionDistrictViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Election District";
    List<ProvinceModel> listProvinces = (List<ProvinceModel>)ViewData["provinces"];
    List<SelectListItem> arrProvince = new List<SelectListItem>();
    foreach (ProvinceModel province in listProvinces)
    {
        arrProvince.Add(new SelectListItem(province.name, "" + province.id));
    }
}

<h2>Manage Election District</h2>

<div class="row">
    <div class="col-xs-12">
        <div class="box box-success" style="margin-bottom:0px">
            <div class="box-header">
                <h3 class="box-title">Create Election District & State Employer</h3>
                <form asp-action="Create" method="post">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-2">
                                    <label for="province">Province: </label>
                                    <select id="province" name="provinceId" asp-items="arrProvince" style="width: 100%" required></select>
                                </div>
                                <div class="col-xs-4 col-xs-offset-1">
                                    <label for="name">Election District: </label>
                                    <input id="name" name="name" placeholder="Election District Name" style="width: 100%" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <button type="submit" class="btn-outline-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="box-body">
                <h3 class="box-title">Election District List</h3>
                <table class="table table-bordered table-striped" id="district-table">
                    <thead>
                        <tr>
                            <th width="40%">
                                @Html.DisplayNameFor(model => model.provinceName)
                            </th>
                            <th width="40%">
                                @Html.DisplayNameFor(model => model.name)
                            </th>
                            <th style="width: 20%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.provinceName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td>
                                    <a href="#" onclick="showUpdateDlg(@item.id, @item.provinceId, '@item.name')">Edit</a> &nbsp;&nbsp;| &nbsp;&nbsp;
                                    <a href="#" onclick="Delete(@item.id)">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-dialog-centered" tabindex="-1" role="dialog" id="update-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title">Update Province</span>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Update" method="post">
                    <input id="update_id" name="id" type="hidden" />
                    <input id="update_state_empoyer_id" name="stateEmployerid" type="hidden" />
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-2">
                                    <label for="update_province">Province: </label>
                                    <select id="update_province" name="provinceId" asp-items="arrProvince" style="width: 100%" required></select>
                                </div>
                                <div class="col-xs-4 col-xs-offset-1">
                                    <label for="update_name">Election District: </label>
                                    <input id="update_name" name="name" placeholder="Election District Name" style="width: 100%" required />
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <button type="submit" class="btn-outline-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- DataTables -->
<script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $(function () {
        $('#district-table').DataTable();

        var errMsg = "@ViewData["errorMsg"]";
        if (errMsg)
            alert(errMsg);
    });
    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        }
    }

    function showUpdateDlg(id, province, name) {
        $("#update_id").val(id);
        $("#update_province").val(province);
        $("#update_name").val(name);

        $("#update-modal").modal();
    }
</script>
